# ------------ Django Settings ------------
SECRET_KEY=[your_value] # Required
DEBUG=[True/False] # Optional. Defaults to True

# ------------ Database Settings ------------
DATABASE_PASSWORD=[your_value] # Reqired
DATABASE_PORT=[your_value] # Optional. Defaults to 5433
DATABASE_USER=[your_value] # Optional. Defaults  to `postgres`
