# ------------ Django Core Settings ------------
# The secret key for Django. Keep this secret!
SECRET_KEY=[your_secret_key] # REQUIRED
# Whether to run the app in debug mode. 
DEBUG=True # Optional. Defaults to True
# The name of the application.
APP_NAME=power_finance # Optional. Defaults to power_finance
# The version of the API. Will be used in the access url under /api/{API_VERSION}/...
API_VERSION=v1 # Optional. Defaults to v1

# ------------ Database Settings ------------
# The username for the PostgreSQL database.
DATABASE_USER=postgres # Optional. Defaults to postgres
# The password for the PostgreSQL database.
DATABASE_PASSWORD=[your_database_password] # REQUIRED
# The host for the PostgreSQL database. (Within Docker: 'database', Locally: 'localhost')
DATABASE_HOST=localhost # Optional. Defaults to localhost
# The port for the PostgreSQL database.
DATABASE_PORT=5433 # Optional. Defaults to 5433

# ------------ Redis Settings ------------
# The password for the Redis instance.
REDIS_PASSWORD=[your_redis_password] # REQUIRED
# The port for the Redis instance.
REDIS_PORT=6380 # Optional. Defaults to 6380
# The full URL for the Redis connection.
REDIS_URL='redis://:[password]@localhost:6380/0' # REQUIRED

# ------------ RabbitMQ Settings ------------
# The username for RabbitMQ.
RABBIT_MQ_USER=guest # Optional. Defaults to guest
# The password for RabbitMQ.
RABBIT_MQ_PASSWORD=guest # Optional. Defaults to guest
# The port for RabbitMQ.
RABBIT_MQ_PORT=5673 # Optional. Defaults to 5673
# The port for RabbitMQ Management UI.
RABBIT_MQ_MANAGEMENT_PORT=15673 # Optional. Defaults to 15673

# ------------ Celery Settings ------------
# The broker URL for Celery (use 'rabbitmq:5672' inside Docker).
CELERY_BROKER_URL='amqp://guest:guest@localhost:5673//' # REQUIRED
# The backend for storing Celery task results.
CELERY_RESULT_BACKEND='redis://:[password]@localhost:6380/2' # REQUIRED

# ------------ Clerk (Auth) Settings ------------
# The secret key for Clerk authentication.
CLERK_SECRET_KEY=[your_clerk_secret_key] # REQUIRED
# The API URL for Clerk.
CLERK_API_URL=[your_clerk_api_url] # REQUIRED
# The cache key for Clerk data.
CLERK_CACHE_KEY=clerk_cache # Optional. Defaults to clerk_cache
