# ------------ Django Settings ------------
SECRET_KEY=[your_secret_key] # REQUIRED
DEBUG=True # Optional. Defaults to True

# ------------ Database Settings ------------
DATABASE_PASSWORD=[your_database_password] # REQUIRED
REDIS_PASSWORD=[your_redis_password] # REQUIRED
REDIS_URL=[your_redis_url] # REQUIRED
DATABASE_PORT=5433 # Optional. Defaults to 5433
DATABASE_USER=postgres # Optional. Defaults to postgres

# ------------ Integration Settings ------------
CLERK_SECRET_KEY=[your_clerk_secret_key] # REQUIRED
CLERK_API_URL=[your_clerk_api_url] # REQUIRED
CLERK_CACHE_KEY=clerk_cache # Optional. Defaults to clerk_cache

# ------------ API Settings ------------
API_VERSION=v1 # Optional. Defaults to v1
