# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.local
.env.docker
.venv
env/
venv/
ENV/

# Django-specific files
*.log
*.pot
*.mo
db.sqlite3
media/
static/
cache/**/*

# IDE-specific files (Example for VS Code and PyCharm)
.vscode/
.idea/

# Operating System files
.DS_Store
schema.yml

# Kubernetes secrets
deploy/kubernetes/secrets.yaml
